# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
env/
venv/
ENV/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
